body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(0,0,0,0.6);
}

.credits {
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    color: rgba(0,0,0,0.6);
    font-size: 0.8em;
    p {
        padding-top: 8px;
    }
    .algolia {
        display: flex;
        align-items: center;
        p {
            margin: 0;
            padding-right: 4px;
        }
        img {
            width: 80px;
        }
    }
}

.game-logo {
    width: 80px;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 40px;
    .img {
        max-width: 500px;
        opacity: 0.7;
    }
    .ais-SearchBox-input {
        max-width: 400px;
        min-width: 300px;
        padding: 12px 24px;
        border-radius: 8px;
        border: transparent;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        font-size: 1em;
    }  
    .ais-SearchBox-submit,
    .ais-SearchBox-reset {
        background: transparent;
        border: none;
    }  
    .ais-Stats-text {
        color: rgba(0,0,0,0.3);
    }
}

.wrapper {
    margin-bottom: 40px;
}

.ais-Pagination-list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.ais-Menu-list,
.ais-Hits-list,
.ais-Pagination-list,
.ais-RefinementList-list {
    list-style: none;
    padding: 0;
}

.main {
    display: flex;
    width: 100%;
    margin-bottom: 40px;
    .left-panel { 
        width: 30%;
        display: flex;
        justify-content: center;
    }
    .right-panel { 
        width: 70%; 
    }
}

.hit {
    position: relative;
    background-image: linear-gradient(rgba(255, 255, 255, 0.85), rgba(255, 255, 255, 0.85)), url('https://i.fbcd.co/products/original/992edd3d1df647f439129905e5e0ba7046c22f33c39f0702bd6e881f81475cb6.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    margin: 24px 0;
    margin-right: 24px;
    padding: 16px 8px;
    height: 240px;
    .hit-name {
        font-size: 2.4em;
        text-align: center;
    }
    .hit-publisher {
        font-size: 1.4em;
        text-align: center;
        opacity: 0.7;
    }
    .hit-rank {
        display: flex;
        justify-content: center;
        align-items: center;
        // text-align: center;
        position: absolute;
        color: white;
        top: -22px;
        right: -22px;
        // padding: 5px 10px;
        width: 50px;
        height: 50px;
        background: rgba(255, 0, 0, 0.555);
        border-radius: 50%;
        p {
            margin-bottom: 0;
        }
    }
    .hit-year {
        position: absolute;
        top: 10px;
        left: 10px;
    }
    .hit-info {
        font-size: 1em;
        text-align: center;
        opacity: 0.7;
    }
    .hit-sales {
        text-align: center;
        // position: absolute;
        // bottom: 10px;
        opacity: 0.7;
        font-size: .7em;
        
    }
}

.sidebar {
    width: 100%;
}

.sidebar-item {
    min-height: 180px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 16px 8px;
    border-radius: 8px;
    margin: 0 24px 24px 24px;
    color: rgba(0,0,0,0.6);
    .ais-RefinementList-showMore {
        background: transparent;
        border: 1px solid rgba(0,0,0,0.19);
        padding: 4px;
        border-radius: 8px;
        color: rgba(0,0,0,0.6);
    }
    .ais-Menu-showMore {
        background: transparent;
        border: 1px solid rgba(0,0,0,0.19);
        padding: 4px;
        border-radius: 8px;
        color: rgba(0,0,0,0.6);
    }
    .ais-RefinementList-checkbox {
        border: 1px solid rgba(0,0,0,0.19);
        margin-right: 4px;
    }
    .ais-SearchBox-input {
        border-radius: 8px;
        border: 1px solid rgba(0,0,0,0.19);
    }
    .ais-SearchBox-reset,
    .ais-SearchBox-submit {
        border: none;
        background: transparent;
    }
    .ais-Menu-link {
        color: rgba(0,0,0,0.6);
    }
}

.ais-Pagination-item {
    display: block;
    padding: 10px 0;
    margin: 0 6px;
    border-radius: 8px;
    font-size: 1em;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    color: #013cfe;
}

.ais-Pagination-link {
    text-decoration: none;
    color: #237AEE;
    padding: 16px 20px;
}

.ais-Highlight-highlighted {
    background-color: #F37670;
}

.ais-SortBy-select {
    background: transparent;
    border: transparent;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 8px 4px;
    border-radius: 8px;
    color: rgba(0,0,0,0.6);
}

.ais-ClearRefinements-button,
.ais-ClearRefinements-button--disabled {
    background: transparent;
    border: transparent;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 4px;
    border-radius: 8px;
    margin-bottom: 24px;
    margin-left: 24px;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #bee0fc;
}

::-webkit-scrollbar-thumb {
    background: #237beeb0;
    border-radius: 12px;
}

::-webkit-scrollbar-thumb:hover {
    background: #237AEE;
    border-radius: 8px;
}

@media (max-width: 850px) {
    .main {
        justify-content: center;
        .left-panel {
            display: none;
        }
        .right-panel {
            width: 90%;
            .hit {
                margin: 24px 0;
            }
        }
        .ais-Pagination-list {
            width: 70%;
        }
    }
    .header {
        img {
            width: 90%;
        }
    }
}
